@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.logo {
  background: #f3b61f;
  width: 90%;
  height: 10vh;
  margin: auto;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(145deg, #ffc321, #dba41c);
  box-shadow: 14px 14px 0px #cf9b1a, -14px -14px 0px #ffd124;
}

h1 {
  font-family: "Righteous", cursive;
}
