.nav {
  width: 90%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1em;
}

ul {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  font-family: "Righteous", cursive;
}

li {
  color: #000000;
  transition: all 0.5s ease-in-out;
}

li:hover {
  color: #aa811a;
  text-decoration: underline;
}

a {
  text-decoration: none;
}
