@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: #1be7ff;
}

header {
  background: #f3b61f;
  width: 90%;
  height: 10vh;
  margin: auto;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(145deg, #ffc321, #dba41c);
  box-shadow: 14px 14px 0px #cf9b1a, -14px -14px 0px #ffd124;
}

a {
  font-family: "Righteous", cursive;
  font-size: 2em;
  color: #000;
  text-decoration: none;
}

section {
  height: 100%;
  width: 90%;
  margin: auto;
  text-align: center;
}

button {
  padding: 1.4em;
  font-size: 1em;
  margin-top: 5em;
  margin-bottom: 2em;
  border: none;
  background: #94fbab;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background: #2c5530;
  color: #f4afab;
}

.container {
  height: 80%;
}

.joke-data {
  font-family: "Righteous", cursive;
  font-size: 2em;
  text-transform: uppercase;
}

img {
  min-width: 4em;
  height: auto;
}
